/* To affect the entire page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* To set all links with the incdicated properties and values*/
a {
    color: #ffffff;
    text-decoration: none;
}
/* To set font size for all paragraphs */
p {
    font-size: 16px;
}
/* To set all heading 3 with the incdicated properties and values*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* To set the header with the incdicated properties and values*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* To set heading 1 in the header with the incdicated properties and values*/
h1 {
    display: inline-block;
    font-size: 48px;
}
/* To set the three letters of the heading 1 
    in the header with a different color */
.seo {
    color: #c3d0b5;
}
/* To affect the container or div in the header */
.nav-div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* To affect the listing items other than the heading 1
    in the header */
.nav-div ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}
/* To set the hero/background image with the incdicated properties and values*/
.hero-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* To affect the entire main content container with the incdicated properties and values */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* To set the sections in the content division */
.sub-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* To set the images in the sub-content class with max-height */
.sub-content img {
    max-height: 200px; 
}
/* To set the heading 2 */
.sub-content h2
{
    margin-bottom: 20px;
    font-size: 36px;
}
/* To set the images of the first and the third sections of the content container */
.float-left {
    float: left;
    margin-right: 25px;
}
/* To set the image of the second section of the content container */
.float-right {
    float: right;
    margin-left: 25px;
}
/* To set the container with a class name 'benefits' ith the incdicated properties and values*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    border-radius: 5%;
    box-sizing: border-box;
}
/* To set images in the sections of the 'benefits' division/parent element */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* To set the the sections in the 'benefits' division/parent element */
.benefit-lead, .benefit-brand, .benefit-cost{
    margin-bottom: 32px;
    color: #ffffff;
}

/* To set the footer */
footer{
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* To set the heading 2 in the footer */
footer, h2 {
    font-size: 20px;
}
